 body {
     background-color: #202945;
 }

 div.wb1 {
     padding: 20px;
     position: fixed;
     top: 50%;
     left: 50%;
     /* bring your own prefixes */
     transform: translate(-50%, -50%);
 }

 div.wb2 {
     padding: 20px;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 div.wb3 {
     padding: 20px;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 div.wb4 {
     padding: 20px;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 div.wb5 {
     padding: 20px;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 div.wb6 {
     padding: 20px;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 @media all and (min-width:500px) {
     div.wb6 {
         display: none
     }
 }

 @media all and (min-width:0px) and (max-width: 500px),
 (min-width:1000px) {
     div.wb5 {
         display: none
     }
 }

 @media all and (min-width:0px) and (max-width: 1000px),
 (min-width:1500px) {
     div.wb4 {
         display: none
     }
 }

 @media all and (min-width:0px) and (max-width: 1500px),
 (min-width:2000px) {
     div.wb3 {
         display: none
     }
 }

 @media all and (min-width:0px) and (max-width: 2000px),
 (min-width:2500px) {
     div.wb2 {
         display: none
     }
 }

 @media (max-width:2500px) {
     div.wb1 {
         display: none
     }
 }

nav{

     position: fixed;
     bottom: 5%;
     left: 0%;
     right: 0%;
     display: block;
     text-align: center;
}

ul{
    padding: 0px;
    display: inline-block;
}

 li {
     font-family: Raleway, sans-serif;
     font-size: 10px;
     font-weight: 100;
     line-height: 25px;
     text-align: center;
     width: 120px;
     border: solid #ffdd00;
     border-width: 1px;
     color: #ffdd00;
     list-style-type: none;
     float: left;
     margin: 3px;
 }

li a{
     color: #ffdd00;
     text-decoration: none;
 }

li:hover{
    background: #ffdd00;
    color: #000000;
}
li:hover a {
    background: #ffdd00;
    color: #000000;
}
