 body {
   background-color: #000;
   margin: 0px;
   height: 100%;
   overflow: hidden;
 }

 #lottie {
   background-color: #000;
   width: 100%;
   height: 30%;
   display: block;
   overflow: hidden;
   transform: translate(0%, 100%);
   text-align: center;
   opacity: 1;
 }

nav{

     position: fixed;
     bottom: 5%;
     left: 0%;
     right: 0%;
     display: block;
     text-align: center;
}

ul{
    padding: 0px;
    display: inline-block;
}

 li {
     font-family: Open Sans, sans-serif;
     font-size: 10px;
     font-weight: 100;
     line-height: 25px;
     text-align: center;
     width: 120px;
     border: solid #383838;
     border-width: 1px;
     color: #383838;
     list-style-type: none;
     float: left;
     margin: 3px;
 }

li a{
     color: #383838;
     text-decoration: none;
 }

li:hover{
    background: #383838;
    color: #FFFFFF;
}
li:hover a {
    background: #383838;
    color: #FFFFFF;
}
